<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Sign up page</title>
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
   </head>
   <body>
    <script src="hw4controller.js"></script>
    <h1 style="text-align: center;">Welcome to Kexuan's page</h1>
    <h3>Enter your information here for signing up :)</h3>
    <form ng-app="redis" ng-controller="RedisCtrl">
      
        <p> Username(Email):<input type="email" ng-model="email" ></p>  
        <p> Password:<input type="password" ng-model="password"></p> 
      <p> FirstName:<input type="text" ng-model="firstname" ></p>
      <p> LastName:<input type="text" ng-model="lastname"></p>
      <p> Sex: <input type = "radio" ng-model = "sex" value = "Male">Male <input type = "radio" ng-model = "sex" va
lue = "Female">Female</p>
      <p> DOB: <input type="date" ng-model="DOB" placeholder="YYYY-MM-DD" ></p>
      <p> Phone Number:<input type="number" ng-model="phonenumber" ></p>
      <p> Address:<input type="text" ng-model="address"></p>
      <p> City: <input type = "text" ng-model = "city"></p>
      <p>State:<select name="state" ng-model="state">
          <option value="CA">California</option>
          <option value="HI">Hawaii</option>
          <option value="MA">Massachusetts</option>
          <option value="NY">New York</option>
          <option value="OH">Ohio</option>
          <option value="WA">Washington</option></select> 
      </p>
      <p> Zipcode:<input type="string" ng-model="zipcode"></p>

      <button ng-click="controller.onRedis()">Submit</button>
      <br>   
      <textarea style="width:300px; height: 300px;">result: {{message|json}}</textarea>
      </form>   
   </body>
</html>
